*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #2F4F4F url("../img/finale_variant/back.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body.active_body {
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@font-face {
  font-family: "Neo Sans Pro";
  src: url("../fonts/NeoSansPro-Bold.eot");
  src: local("../fonts/Neo Sans Pro Bold"), local("../fonts/NeoSansPro-Bold"), url("../fonts/NeoSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro-Bold.woff") format("woff"), url("../fonts/NeoSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Neo Sans Pro";
  src: url("../fonts/NeoSansPro-Medium.eot");
  src: local("../fonts/Neo Sans Pro Medium"), local("NeoSansPro-Medium"), url("../fonts/NeoSansPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro-Medium.woff") format("woff"), url("../fonts/NeoSansPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Neo Sans Pro";
  src: url("../fonts/NeoSansPro-LightItalic.eot");
  src: local("../fonts/Neo Sans Pro Light Italic"), local("../fonts/NeoSansPro-LightItalic"), url("../fonts/NeoSansPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro-LightItalic.woff") format("woff"), url("../fonts/NeoSansPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Neo Sans Pro";
  src: url("../fonts/NeoSansPro-Regular.eot");
  src: local("../fonts/Neo Sans Pro"), local("../fonts/NeoSansPro-Regular"), url("../fonts/NeoSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro-Regular.woff") format("woff"), url("../fonts/NeoSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neo Sans Pro Ultra";
  src: url("../fonts/NeoSansPro-Ultra.eot");
  src: local("../fonts/Neo Sans Pro Ultra"), local("../fonts/NeoSansPro-Ultra"), url("../fonts/NeoSansPro-Ultra.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro-Ultra.woff") format("woff"), url("../fonts/NeoSansPro-Ultra.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Neo Sans Pro";
  src: url("../fonts/NeoSansPro-BoldItalic.eot");
  src: local("../fonts/Neo Sans Pro Bold Italic"), local("../fonts/NeoSansPro-BoldItalic"), url("../fonts/NeoSansPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro-BoldItalic.woff") format("woff"), url("../fonts/NeoSansPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Neo Sans Pro";
  src: url("../fonts/NeoSansPro-Light.eot");
  src: local("../fonts/Neo Sans Pro Light"), local("../fonts/NeoSansPro-Light"), url("../fonts/NeoSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro-Light.woff") format("woff"), url("../fonts/NeoSansPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Neo Sans Pro";
  src: url("../fonts/NeoSansPro-Italic.eot");
  src: local("../fonts/Neo Sans Pro Italic"), local("../fonts/NeoSansPro-Italic"), url("../fonts/NeoSansPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro-Italic.woff") format("woff"), url("../fonts/NeoSansPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "digital";
  src: url("../fonts/5015.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**/
.pre_loader_perc {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #2F4F4F;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  font-family: "digital";
}
.pre_loader_perc .loader {
  position: absolute;
  top: 50%;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  width: 100%;
  font-size: 50px;
}
.pre_loader_perc .loader .container_strip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -3px 20px;
}
.pre_loader_perc .loader .container_strip ._strip_elem {
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.pre_loader_perc .loader .container_strip ._strip_elem .strip_elemnt {
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
  height: 3px;
  background: #F5F5F5;
}
.pre_loader_perc .loader .container_strip .container_strip_elem {
  vertical-align: bottom;
  color: #F5F5F5;
  margin: 0 3px;
  height: 45px;
}
.pre_loader_perc .loader .loader_persentage {
  color: #F5F5F5;
}
.pre_loader_perc.done {
  opacity: 0;
  visibility: hidden;
}

/**/
.content_box {
  position: relative;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
  -webkit-animation: animate 10s linear infinite;
  animation: animate 10s linear infinite;
}
.content_box.active {
  -webkit-animation-name: "none" !important;
  animation-name: "none" !important;
}
.content_box.active .span_pic {
  -webkit-transform: rotateX(calc(var(--i) * -51deg)) translateZ(200px);
  transform: rotateX(calc(var(--i) * -51deg)) translateZ(200px);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.content_box.active .span_pic img {
  opacity: 0.3;
}
.content_box .text {
  font-size: 40px;
  color: #fff;
  -webkit-animation-name: "none" !important;
  animation-name: "none" !important;
  text-transform: uppercase;
}
.content_box .text.active_text {
  opacity: 0;
}
.content_box .span_pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(calc(var(--i) * 51deg)) translateZ(200px);
  transform: rotateX(calc(var(--i) * 51deg)) translateZ(200px);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.content_box .span_pic span {
  color: #DCDCDC;
  display: none;
  font-family: "Neo Sans Pro";
  position: absolute;
  font-size: 30px;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.content_box .span_pic img {
  max-width: 200px;
  max-height: 100%;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 2px solid #000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.content_box .span_pic img.active_pic {
  -webkit-transform: translate(-50%, -50%) scale(2, 2);
  transform: translate(-50%, -50%) scale(2, 2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(30deg);
    transform: rotateX(0deg) rotateY(30deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(30deg);
    transform: rotateX(360deg) rotateY(30deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(30deg);
    transform: rotateX(0deg) rotateY(30deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(30deg);
    transform: rotateX(360deg) rotateY(30deg);
  }
}
@-webkit-keyframes animate_ {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
}
@keyframes animate_ {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
}
@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: perspective(0px) rotateX(0deg) rotateY(0deg);
    transform: perspective(0px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(0px) rotateX(-360deg) rotateY(0deg);
    transform: perspective(0px) rotateX(-360deg) rotateY(0deg);
  }
}
@keyframes animate2 {
  0% {
    -webkit-transform: perspective(0px) rotateX(0deg) rotateY(0deg);
    transform: perspective(0px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(0px) rotateX(-360deg) rotateY(0deg);
    transform: perspective(0px) rotateX(-360deg) rotateY(0deg);
  }
}